body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-y: auto; /* Включаем вертикальную прокрутку */
}

.blurred-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 50% 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
}

.blurred-bar a {
    color: rgb(24, 24, 24);
    margin: 0 15px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.blurred-bar a:hover {
    color: #ffd700;
}

.main-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    min-height: 100vh; /* Минимальная высота для первой секции */
}

.text-overlay {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: left; /* Выравнивание текста по левой стороне */
    width: 100%; /* Убедитесь, что текст занимает всю ширину контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    padding-left: 100px; /* Отступ слева для текста */
}



.subtitle {
    font-size: 1.2em; /* Размер текста */
    color: #ffffff; /* Цвет текста */
    margin-top: 0px; /* Отступ сверху */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Тень текста */
}

#model-container {
    flex: 1; /* Занимает доступное пространство */
    max-width: 1000px; /* Увеличиваем максимальную ширину */
    height: auto; /* Высота подстраивается под содержимое */
    margin-left: 20%; /* Сдвигает модель вправо */
    margin-top: -400px; /* Сдвигает модель вверх на 50 пикселей */
}





.additional-content {
    padding: 20px;
    text-align: center;
    min-height: 600px; /* Установите высоту, равную высоте изображения */
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: left; /* Выравнивание текста по левой стороне */
    width: 100%; /* Убедитесь, что текст занимает всю ширину контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    padding-left: 100px; /* Отступ слева для текста */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4px;
    padding: 20px;
    margin-top: 20px;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.1s;
}

.image-item img:hover {
    transform: scale(2.05);
}

.background-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#background-section-0 {
    background-image: url('images/render2.jpg');
}

#background-section-1 {
    background-image: url('images/render1.jpg');
}

#background-section-2 {
    background-image: url('images/render2.jpg');
}
